@use 'base';

.hidden {
    display: none;
}
.login-dialog {
    position: fixed;
    height: 608px;
    width: 410px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}
.login-dialog__content {
    height: 100%;
    width: 100%;
    color: white;
    padding: 61px;
}
.login-dialog__form-container {
    @include base.main-typo;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;

    align-items: center;
}
.login-dialog__close-button img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 10px;
    left: 10px;
}

.login-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Modern browsers */
    filter: blur(5px); /* Fallback for older browsers */
}
.login-dialog__switch-buttons-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    gap: 0;
    justify-content: center;
    align-items: center;
}
.login-dialog__switch-button {
    @include base.button-font-login;
    padding: 10px 25px;
}
.login-dialog__switch-button--active {
    background-color: red;
}
.login-dialog__switch-button--login {
    border: 1px solid black;
    border-left: 0px;
    border-radius: 0px 8px 8px 0px;
}

.login-dialog__switch-button--signup {
    border: 0px;
    text-wrap: nowrap;
    border-radius: 8px 0px 0px 8px;
}

.login-dialog__form-field {
    width: 288px;
    height: 44px;
    padding: 5px;
    border-radius: 8px;
}
.login-dialog__form-field::placeholder {
    color: black;
}

.login-dialog__forgot-password {
    color: red;
}
.login-dialog__not-member-yet a {
    text-decoration: none;
    color: red;
}
