@use 'base';
@use 'header';
@use 'footer';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --swiper-navigation-sides-offset: -5%;
}
body {
    background: rgba(128, 128, 128, 0.548);
}
img {
    width: 100%;
}

/*Main container*/
.main {
    @include base.flex-container;
    flex-direction: column;
    justify-content: flex-start;
    background: base.$primary-background;
    padding-left: 182px;
    padding-right: 182px;
    padding-bottom: 60px;
}

/*Section user interface*/

.uisection {
    @include base.main-typo;
    @include base.center-flex;
    width: 100%;
    padding: 5rem;
}

.uisection__input {
    @include base.input-style;
    @include base.main-typo;
}

.uisection__button {
    background: red;
    width: 44px;
    height: 44px;
    top: 173px;
    left: 812px;
    gap: 0px;
    border-radius: 0px 8px 8px 0px;
    opacity: 0px;
}

/*Section results*/

.results {
    @include base.main-typo;
    @include base.center-flex;
    flex-direction: column;
    gap: 2rem;
    width: 1440px;
    color: white;
    h2 {
        @include base.main-typo;
    }
}
.results__swiper {
    position: relative;
    max-width: 1000px;
}
.results--hidden {
    display: none;
}

/*latest section*/

.latest {
    @include base.main-typo;
    @include base.center-flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    color: white;
    h2 {
        @include base.main-typo;
    }
    min-width: fit-content;
    max-width: 1440px;
    margin-top: 50px;
}
.latest__swiper {
    position: relative;
    max-width: 1000px;
}
